@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins/hover";

$grid-breakpoints: (
	md: 480px,
	lg: 768px,
) !default;

$color-white: #fff;
$color-black: #000;
$color-alert: #f55e62;
$color-background1: #90bce8;
$color-background2: #febf26;
$color-background3: #ffaa87;
$color-background4: #c7abd4;
$color-background5: #f55e62;
$color-background6: #a2a9b7;
$color-background7: #e3ebd3;
$color-background8: #e8ebed;
$color-background9: #c4c4c4;
$color-border: #dbdbdb;
$color-message: #f1f3f5;
$color-button: #0f54b9;

@mixin screen-up($screen) {
	@if (map-has-key($grid-breakpoints, $screen)) {
		$screen: map-get($grid-breakpoints, $screen);
	}
	@media (min-width: $screen) {
		@content;
	}
}

@mixin screen-down($screen) {
	@if (map-has-key($grid-breakpoints, $screen)) {
		$screen: map-get($grid-breakpoints, $screen);
	}
	@media (max-width: $screen - 1) {
		@content;
	}
}

@mixin screen-between($from, $to) {
	@if (map-has-key($grid-breakpoints, $from)) {
		$from: map-get($grid-breakpoints, $from);
	}
	@if (map-has-key($grid-breakpoints, $to)) {
		$to: map-get($grid-breakpoints, $to);
	}
	@media (min-width: $from) and (max-width: $to - 1) {
		@content;
	}
}

@mixin size($w: none, $h: $w) {
	width: $w;
	height: $h;
}

@mixin max-size($w: none, $h: $w) {
	max-width: $w;
	max-height: $h;
}

@mixin min-size($w: auto, $h: $w) {
	min-width: $w;
	min-height: $h;
}
