@import "../vars";

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 90px;
	background-color: $color-background9;
	font-size: 24px;
	line-height: 20px;

	@include screen-up("lg") {
		width: 768px;
		margin: 0 auto;
	}
}
