.chat {
	width: 650px;
	max-width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: url('/img/chat-background.png') no-repeat center / cover;
	box-shadow: 0 47px 33px 12px rgba(0,0,0,0.07);

	@include screen-up("lg") {
		margin: 40px auto;
		height: calc(100vh - 40px - 40px);
	}

	&__container {
		padding: 20px 10px 10px;

		&_footer {
			height: 130px;
			padding: 8px;

			@include screen-up("lg") {
				height: 244px;
			}
		}

		@include screen-up("lg") {
			padding: 20px 40px 30px 15px;
		}
	}

	&__button {
		width: 100%;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-button;
		color: $color-white;
		border-radius: 21px;
		font-size: 16px;
		line-height: 24px;
		cursor: pointer;

		@include screen-up("lg") {
			width: 144px;
			height: 41px;
		}
	}

	&__textarea {
		width: 100%;
		height: calc(100% - 42px);
		margin-bottom: 2px;
		padding: 7px 10px;
		border: none;
		border-radius: 4px;
		resize: none;

		@include screen-up("lg") {
			height: 129px;
			margin-bottom: 20px;
			padding: 10px;
		}
	}

	&__messages {
		height: calc(100% - 130px);
		padding-top: 50px;
		border-bottom: 1px solid $color-border;

		@include screen-up("lg") {
			height: calc(100% - 244px)
		}
	}

	&__message {
		display: flex;
		max-width: 100%;
		margin-bottom: 14px;

		&_my {
			margin-left: auto;
			flex-direction: row-reverse;

			.chat__content {
				width: 100%;
				padding-left: 0;
				padding-right: 12px;
				text-align: right;

				&:before {
					top: 0;
					left: auto;
					right: 8px;
					transform: rotate(225deg);

					@include screen-up("md") {
						right: 16px;
					}
				}

				@include screen-up("md") {
					padding-right: 20px;
				}
			}
		}

		@include screen-up("md") {
			max-width: 88.5%;
		}
	}

	&__content {
		position: relative;
		padding-left: 12px;

		&:before {
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			left: 8px;
			transform: rotate(225deg);
			border: 5px solid;
			border-color: $color-message transparent transparent $color-message;

			@include screen-up("md") {
				left: 16px;
			}
		}

		@include screen-up("md") {
			padding-left: 20px;
		}
	}

	&__statement {
		display: inline-block;
		padding: 11px 15px;
		background-color: $color-message;
		border-radius: 5px;
		font-size: 14px;
		line-height: 24px;
		text-align: left;
	}

	&__avatar {
		display: flex;
		width: 45px;
		height: 45px;
		min-width: 45px;
		min-height: 45px;
		border-radius: 100px;
		clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	}

	&__date {
		position: relative;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		color: #000;

		&:before, &:after {
			content: "";
			position: absolute;
			top: 12px;
			width: 38%;
			height: 1px;
			background-color: $color-white;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}
}