@import "../vars";

.tiles {
	display: flex;
	flex-direction: column;
	width: 100%;
	$tiles: &;

	&__container {
		display: flex;
		justify-content: space-between;

		&_hidden {
			display: none;

			@include screen-up("md") {
				display: flex;
			}
		}
	}

	&__md {
		@include screen-up("md") {
			&-container {
				display: flex;
				justify-content: space-between;

				&_row-reverse {
					flex-direction: row-reverse;
				}
			}

			&-order {
				&-1 {
					order: 1;
				}

				&-2 {
					order: 2;
				}

				&-3 {
					order: 3;
				}

				&-4 {
					order: 4;
				}

				&-5 {
					order: 5;
				}
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 155px;
		margin-bottom: 10px;

		&_fd-column {
			flex-direction: column;
		}

		&_w-66 {
			width: calc(66.6vw - 3px);

			@include screen-up("md") {
				width: calc(66.6vw - 17px);
			}

			@include screen-up("lg") {
				width: calc(66.6% - 4px);
			}
		}

		&_w-33 {
			width: calc(33.4vw - 3px);

			@include screen-up("md") {
				width: calc(33.4vw - 17px);
			}

			@include screen-up("lg") {
				width: calc(33.4% - 7px);
			}
		}

		&_md {
			@include screen-up("md") {
				&-fd-column {
					flex-direction: column;
				}

				&-w-66 {
					width: calc(66.6vw - 17px);
				}

				&-w-33 {
					width: calc(33.4vw - 17px);
				}
			}
		}

		&_lg {
			@include screen-up("lg") {
				&-h {
					&-330 {
						height: 330px;
					}

					&-155 {
						height: 155px;
					}
				}

				&-w-66 {
					width: calc(66.5% - 3px);
				}

				&-w-33 {
					width: calc(33.5% - 8px);
				}
			}
		}
	}

	&__about {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;

		&-row {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-bottom: 30px;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				bottom: 5px;
				border-bottom: 1px dashed $color-black;
			}
		}

		&-item {
			max-width: 230px;
			padding-right: 10px;
			text-align: left;
			font-size: 14px;
			line-height: 19px;
			z-index: 1;

			&_right {
				padding-left: 10px;
				padding-right: 0;
				text-align: right;

				.tiles__about-text {
					box-shadow: -10px 0 0 $color-background7;
				}
			}
		}

		&-text {
			background-color: $color-background7;
			box-shadow: 10px 0 0 $color-background7;
		}
	}

	&__alert {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		display: none;
		justify-content: center;
		align-items: center;
		width: 61px;
		height: 61px;
		background-color: $color-white;
		color: $color-alert;
		font-size: 36px;
		line-height: 42px;
		border-radius: 360px;
		cursor: pointer;
	}

	&__picture {
		position: absolute;
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url('/img/tiles-item.png') no-repeat center/cover;
		color: $color-white;
		cursor: pointer;

		&-text {
			padding: 15px;
			z-index: 1;
			color: $color-white;
		}
	}

	&__item {
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: auto;
		padding: 15px;
		background-color: $color-background8;
		font-size: 14px;
		line-height: 20px;

		&_w-50 {
			width: calc(50% - 5px);
		}

		&_h-50 {
			height: calc(50% - 2.5px);
		}

		&_md {
			@include screen-up("md") {
				&-h-50 {
					height: calc(50% - 5px);
				}

				&-w-100 {
					width: 100%;
				}
			}
		}

		&_about {
			padding: 15px !important;
		}

		&_square {
			height: calc(66vw - 1px);
			font-size: 18px;
			line-height: 26px;
			text-align: center;

			&-small {
				padding: 9px;

				@include screen-up("md") {
					padding: 14px;
				}

				@include screen-up("lg") {
					height: 241px;
				}
			}

			@include screen-up("md") {
				height: calc(66vw - 13px);
				padding: 30px 46px 53px 25px;
			}

			@include screen-up("lg") {
				height: 492px;
			}
		}

		&_align-items-start {
			align-items: flex-start;
		}

		&_blue {
			background-color: $color-background1;
		}

		&_orange {
			background-color: $color-background2;
		}

		&_tomato {
			background-color: $color-background3;
		}

		&_purple {
			background-color: $color-background4;
		}

		&_sunset {
			background-color: $color-background5;
		}

		&_gray {
			background-color: $color-background6;
			color: $color-white;
		}

		&_salad {
			background-color: $color-background7;
		}

		&_picture {
			position: relative;

			&:hover {
				.tiles__picture {
					filter: blur(5px);
				}

				.tiles__alert {
					display: flex;
				}
			}
		}
	}

	@include screen-up("md") {
		padding: 0 12px;
	}
}