//= common/header.html

<div class="container">
    <div class="chat">
        <div class="chat__messages">
            <div class="chat__date-block">
                <div class="chat__date">21 октября 2017</div>
                <div class="chat__container">
                    <div class="chat__message">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>
                        <div class="chat__content">
                            <div class="chat__statement">
                                Это означает, что в Вашем доме, офисе, кабинете,
                                мастерской хранятся ценности бóльшие, чем просто деньги или драгоценности, - культурные ценности.
                                Произведения искусства, антиквариат, иные предметы коллекционирования – все это имущество, безусловно высокая стоимость которого.
                            </div>
                        </div>
                    </div>
                    <div class="chat__message chat__message_my">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>
                        <div class="chat__content">
                            <div class="chat__statement">
                                Это означает
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat__date-block">
                <div class="chat__date">1 февраля 2017</div>
                <div class="chat__container">
                    <div class="chat__message">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>
                        <div class="chat__content">
                            <div class="chat__statement">
                                Это означает, что в Вашем доме, офисе, кабинете,
                                мастерской хранятся ценности бóльшие, чем просто деньги или драгоценности, - культурные ценности.
                                Произведения искусства, антиквариат, иные предметы коллекционирования – все это имущество, безусловно высокая стоимость которого.
                            </div>
                        </div>
                    </div>
                    <div class="chat__message chat__message_my">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>
                        <div class="chat__content">
                            <div class="chat__statement">
                                Это означает
                            </div>
                        </div>
                    </div>
                    <div class="chat__message">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>

                        <div class="chat__content">
                            <div class="chat__statement">
                                доме, офисе, кабинете, мастерской
                            </div>
                        </div>
                    </div>
                    <div class="chat__message chat__message_my">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>

                        <div class="chat__content">
                            <div class="chat__statement">
                                Это означает
                            </div>
                        </div>
                    </div>
                    <div class="chat__message">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>

                        <div class="chat__content">
                            <div class="chat__statement">
                                доме, офисе, кабинете, мастерской
                            </div>
                        </div>
                    </div>
                    <div class="chat__message">
                        <div class="chat__avatar">
                            <img src="/img/avatar.png">
                        </div>

                        <div class="chat__content">
                            <div class="chat__statement">
                                TDD может быть серьезным основанием или причиной, по которой!
                                будет принято решение заново переписать унаследованный код.

                                Если разработчик станет перед выбором "покрыть тестами уже су-
                                ществующий унаследованный код" или "написать свой код, снача-
                                ла разработав для него тесты", вероятнее всего, он выберет послед-
                                ний вариант. Конечно, у разработчиков далеко не всегда есть выбор,

                                но в любом случае следует иметь в виду, что писать тесты к уже су-
                                ществующему коду бывает ох как непросто (а иногда и нереально),

                                и в любом случае гораздо сложнее, чем это делать заранее. Кроме

                                того, когда в самом начале еще нет кода, "стоимость" написания те-
                                стов - минимальна, так как не тратится время на анализ и понима-
                                ние самого кода.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat__container chat__container_footer">
            <textarea class="chat__textarea"></textarea>
            <input type="submit" class="chat__button" value="Отправить">
        </div>

    </div>
</div>
