//= common/header.html
//= common/header-content.html

<div class="container">
    <div class="tiles">
        <div class="tiles__md-container tiles__md-order-2">
            <div class="tiles__row_md-w-66 tiles__row_lg-w-66">
                <div class="tiles__row tiles__row_lg-h-155">
                    <div class="tiles__item tiles__item_w-50">
                        Наши сотрудники
                    </div>

                    <div class="tiles__item tiles__item_w-50">
                        Просветляет понимающий тест
                    </div>
                </div>
                <div class="tiles__row tiles__row_lg-h-155">
                    <div class="tiles__item">
                        Конформизм
                    </div>
                </div>
            </div>

            <div class="tiles__row tiles__row_md-w-33 tiles__row_lg-w-33 tiles__row_md-fd-column">
                <div class="tiles__item tiles__item_w-50 tiles__item_md-h-50 tiles__item_md-w-100 tiles__item_blue">
                    Интроекция
                </div>

                <div class="tiles__item tiles__item_w-50 tiles__item_md-h-50 tiles__item_md-w-100 tiles__item_orange">
                    Наши сотрудники
                </div>
            </div>
        </div>

        <div class="tiles__container tiles__md-container tiles__md-order-1">
            <div class="tiles__row tiles__row_w-66">
                <div class="tiles__item tiles__item_align-items-start tiles__item_square tiles__item_gray">
                    Гений непредвзято понимает под собой конфликт.
                    Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл.
                    Культ джайнизма включает в себя поклонение Махавире
                    и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                </div>
            </div>

            <div class="tiles__row tiles__row_w-33 tiles__row_fd-column">
                <div class="tiles__item tiles__item_h-50 tiles__item_square-small tiles__item_gray">
                    Чувство однократно
                </div>

                <div class="tiles__item tiles__item_h-50 tiles__item_square-small tiles__item_gray">
                    Морено
                </div>
            </div>
        </div>

        <div class="tiles__container tiles__container_hidden tiles__md-container tiles__md-container_row-reverse tiles__md-order-3">
            <div class="tiles__row tiles__row_w-66">
                <div class="tiles__item tiles__item_align-items-start tiles__item_square tiles__item_salad tiles__item_about">
                    <div class="tiles__about">
                        <div class="tiles__about-row">
                            <div class="tiles__about-item">
                                <span class="tiles__about-text">Фамилия</span>
                            </div>
                            <div class="tiles__about-item tiles__about-item_right">
                                <span class="tiles__about-text">Мамай</span>
                            </div>
                        </div>
                        <div class="tiles__about-row">
                            <div class="tiles__about-item">
                                <span class="tiles__about-text">Имя и отчество</span>
                            </div>
                            <div class="tiles__about-item tiles__about-item_right">
                                <span class="tiles__about-text">Станиславаленина Владимировна</span>
                            </div>
                        </div>
                        <div class="tiles__about-row">
                            <div class="tiles__about-item">
                                <span class="tiles__about-text">Номер полиса выдан заведомо ложный</span>
                            </div>
                            <div class="tiles__about-item tiles__about-item_right">
                                <span class="tiles__about-text">01354879</span>
                            </div>
                        </div>
                        <div class="tiles__about-row">
                            <div class="tiles__about-item">
                                <span class="tiles__about-text">Дата рождения</span>
                            </div>
                            <div class="tiles__about-item tiles__about-item_right">
                                <span class="tiles__about-text">01.12.1976</span>
                            </div>
                        </div>
                        <div class="tiles__about-row">
                            <div class="tiles__about-item">
                                <span class="tiles__about-text">Телефон</span>
                            </div>
                            <div class="tiles__about-item tiles__about-item_right">
                                <span class="tiles__about-text">+79254218069</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tiles__row tiles__row_w-33 tiles__row_fd-column">
                <div class="tiles__item tiles__item_h-50 tiles__item_square-small tiles__item_salad">
                    Понятие модернизации понимает механизм власти
                </div>

                <div class="tiles__item tiles__item_h-50 tiles__item_square-small tiles__item_salad tiles__item_picture">
                    <div class="tiles__picture">
                        <div class="tiles__picture-text">Наши сотрудники</div>
                    </div>
                    <div class="tiles__alert">!</div>
                </div>
            </div>
        </div>

        <div class="tiles__md-container tiles__md-container_row-reverse tiles__md-order-4">

            <div class="tiles__row_md-w-66 tiles__row_lg-w-66">
                <div class="tiles__row tiles__row_lg-h-155">
                    <div class="tiles__item tiles__item_tomato">
                        Однако
                    </div>
                </div>

                <div class="tiles__row tiles__row_lg-h-155">
                    <div class="tiles__item tiles__item_w-50 tiles__item_tomato">
                        Точка перегиба
                    </div>

                    <div class="tiles__item tiles__item_w-50 tiles__item_purple">
                        Длина вектора
                    </div>
                </div>
            </div>

            <div class="tiles__row tiles__row_md-w-33 tiles__row_lg-w-33 tiles__row_md-fd-column">
                <div class="tiles__item tiles__item_w-50 tiles__item_md-h-50 tiles__item_md-w-100 tiles__item_tomato">
                    Лидерство
                </div>

                <div class="tiles__item tiles__item_w-50 tiles__item_md-h-50 tiles__item_md-w-100 tiles__item_sunset">
                    Невероятный гений
                </div>
            </div>
        </div>
    </div>
</div>

//= common/footer.html
